<div class="pt-[200px] pb-[200px]">
  <div class="flex items-center justify-center">
    <div class="flex flex-col justify-center items-center w-[800px]">
      <h1 class="text-6xl pb-10">Regulamin</h1>
      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">01.</p>
        <p class="paragraf">
          Ze względu na obowiązujące przepisy przeciwpożarowe Schronisko nie
          udziela noclegów na podłodze.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">02.</p>
        <p class="paragraf">
          Doba hotelowa rozpoczyna się o godzinie 14.00 i kończy o godzinie
          10.00 ostatniego dnia pobytu.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">03.</p>
        <p class="paragraf">
          Zakazuje się przebywania w części noclegowej (z wyjątkiem Recepcji)
          osobom niezameldowanym.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">04.</p>
        <p class="paragraf">
          W schronisku obowiązuje bezwzględna cisza nocna od godziny 22.00 do
          godziny 6.00.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">05.</p>
        <p class="paragraf">
          Łóżka i pokoje wydawane są na zasadzie dostępności. Obowiązuje
          konieczność spania na przydzielonym łóżku. W przypadku noclegu na
          nieprzydzielonym łóżku, osoba taka zobowiązana jest do zapłaty za
          nocleg na nieprzydzielonym łóżku oraz łóżku przydzielonym.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">06.</p>
        <p class="paragraf">
          Osobom zameldowanym, przy zakwaterowaniu zostanie wydany klucz do
          pokoju. W przypadku problemów z kluczem należy poinformować recepcję.
          W przypadku zgubienia klucza lub niezwrócenia klucza przy
          wymeldowaniu, zostanie naliczona dodatkowa opłata w wysokości 20,00
          zł.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">07.</p>
        <p class="paragraf">
          Natryski są bezpłatne tylko dla osób zameldowanych w Schronisku.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">08.</p>
        <p class="paragraf">Obowiązuje zakaz biwakowania wokół Schroniska.</p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">09.</p>
        <p class="paragraf">
          W budynku Schroniska obowiązuje bezwzględny zakaz palenia tytoniu,
          używania papierosów elektronicznych oraz zakaz używania otwartego
          ognia.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">10.</p>
        <p class="paragraf">
          Na terenie Schroniska obowiązuje zakaz spożywania własnych napojów
          alkoholowych.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">11.</p>
        <p class="paragraf">
          Turyści proszeni są o zachowanie czystości i porządku w pokojach i
          jadalni.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">12.</p>
        <p class="paragraf">
          Schronisko nie odpowiada za rzeczy pozostawione w pokojach i Recepcji.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">13.</p>
        <p class="paragraf">
          Rzeczy znalezione przechowywane są w Schronisku przez 30 dni. Po
          upływie tego terminu, w przypadku niezgłoszenia się właściciela,
          Schronisko ma prawo do utylizacji ww. rzeczy.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">14.</p>
        <p class="paragraf">
          W przypadku rezygnacji z rezerwacji nie ma możliwości zwrotu zadatku.
          Wpłacony zadatek pokrywa niewykorzystane miejsca noclegowe.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">15.</p>
        <p class="paragraf">
          W przypadku skrócenia pobytu przez klienta, Schronisko nie zwraca
          kosztów odstąpienia od zawartej umowy.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">16.</p>
        <p class="paragraf">
          Turystów obowiązuje rekompensata pieniężna za zniszczone mienie i
          dewastację Schroniska. Wysokość kary zależna jest od stopnia
          dewastacji i ustalana jest przez Kierownika Schroniska.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center text-xl">
        <p class="font-bold t">17.</p>
        <p class="paragraf">
          W przypadku bezpodstawnego uruchomienia systemu przeciwpożarowego
          (zraszacze) zostanie naliczona kara pieniężna w wysokości 2.000,00 zł
          za każdy ujawniony przypadek. Schronisko zastrzega sobie prawo do
          naliczenia dodatkowych opłat.
        </p>
      </div>
    </div>
  </div>
</div>
