<div class="relative w-full h-screen scroll scrollbar-hidden overflow-auto">
  <img class="w-full h-full p-0 m-0, object-cover" src="test5.jpg" />
  <button
    class="absolute top-[60%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-800 z-40 w-[300px] h-[80px] rounded-md"
  >
    Zarezerwuj nocleg
  </button>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <div class="w3-content" style="max-width: 1100px">
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img
          src="test7.png"
          class="w3-round w3-image w3-opacity-min"
          alt="Table Setting"
          width="600"
          height="750"
        />
      </div>

      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">Lorem ipsum</h1>
        <br />
        <h5 class="w3-center">dolor sit amet</h5>
        <p class="w3-large">
          Consectetur adipiscing elit. Mauris ut vestibulum diam. Quisque
          dapibus quam et sapien ullamcorper consequat. In condimentum cursus
          nisl, sit amet pellentesque massa. Donec sodales tempus nibh, ut
          euismod eros pretium ut. Etiam et massa eget nulla ornare lobortis.
          Proin ex nibh, laoreet eu varius et, laoreet ut nisl.
        </p>
        <p class="w3-large w3-text-grey w3-hide-medium">
          Donec condimentum a nisl ut finibus. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Praesent accumsan sit amet dolor eu viverra. Ut eget congue nisl. Ut
          gravida dui quis arcu ultricies, vitae molestie tortor lobortis. Cras
          eu diam elit. Vestibulum feugiat in tellus sed mattis. Proin vulputate
          et lectus id pellentesque.
        </p>
      </div>
    </div>

    <hr />
    <div class="w3-row w3-padding-64" id="menu">
      <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Nullam vehicula</h1>
        <br />
        <h4>urna tincidunt</h4>
        <p class="w3-large">
          Dignissim luctus, libero magna accumsan sapien, eu aliquam tellus odio
          at ex. Aliquam erat volutpat. Sed condimentum quis lorem ac tincidunt.
          Aliquam ultrices ipsum ligula, id varius libero gravida nec.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Sed rutrum purus nec arcu euismod
          sollicitudin. In volutpat id diam et elementum. Vestibulum ante ipsum
          primis in faucibus orci luctus et ultrices posuere cubilia curae;
          Nullam gravida turpis at tempus feugiat. Curabitur tristique aliquam
          turpis sit amet pulvinar. Quisque quis imperdiet orci. Aliquam vel
          nulla non felis porta blandit in a leo. Nam varius pellentesque enim.
          Nulla viverra purus ut lacus vulputate molestie.
        </p>
        <p class="w3-large w3-text-grey w3-hide-medium">
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia curae; Vivamus at tortor et metus pharetra ultricies.
          Sed ultrices tortor condimentum, fermentum velit at, luctus dolor.
          Donec nec dapibus diam. Nunc eget massa finibus, efficitur libero eu,
          molestie purus. In sagittis justo eget mi mollis posuere. Mauris
          vehicula enim in felis aliquet, eu placerat nisi varius. In risus
          sapien, commodo quis convallis sed, scelerisque tincidunt quam.
          Praesent elementum nisl felis, at rutrum libero viverra nec. Nam
          placerat semper ex ac laoreet.
        </p>
        <br />
      </div>

      <div class="w3-col l6 w3-padding-large">
        <img
          src="bear.jpg"
          class="w3-round w3-image w3-opacity-min"
          alt="Menu"
          style="width: 100%"
        />
      </div>
    </div>

    <hr />
  </div>
  <footer>
    <div
      class="bg-primary h-52 flex flex-col justify-evenly items-center w-full"
    >
      <div class="flex justify-evenly w-[700px] items-center">
        <div class="flex gap-4">
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            rel="noreferrer"
            target="_blank"
          >
            <img src="instagram.png" alt="" class="w-8 h-auto" />
          </a>
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            rel="noreferrer"
            target="_blank"
          >
            <img src="facebook.png" alt="" class="w-10" />
          </a>
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            rel="noreferrer"
            target="_blank"
          >
            <img src="twitter.png" alt="" class="w-10" />
          </a>
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            rel="noreferrer"
            target="_blank"
          >
            <img src="youtube.png" alt="" class="w-10" />
          </a>
        </div>
        <div class="text-white">
          <p>Kontakt</p>
          <p>Jan Kowalski</p>
          <p>Zakopane ul. Warszawska</p>
          <p>Telefon: 123 123 123</p>
        </div>
      </div>
      <p class="text-gray-500 text-center">
        © Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa
        consequatur nobis dicta veniam quo et distinctio nemo labore vel modi
        obcaecati eos ex voluptatem ducimus neque, tenetur commodi expedita.
      </p>
    </div>
  </footer>
</div>
