<div class="flex mb-6">
  <div class="w-[390px] h-[225px]" *ngIf="room.imageBase64">
    <img
      [src]="room.imageBase64"
      alt="Selected Image"
      class="w-full h-full object-cover object-center"
    />
  </div>
  <div
    class="w-[390px] h-[225px] border-2 border-solid"
    *ngIf="!room.imageBase64"
  >
    <img
      src="images.png"
      alt="Selected Image"
      class="w-full h-full object-cover object-center"
    />
  </div>
  <div class="w-full flex">
    <div class="w-[400px] h-[225px] border flex flex-col justify-between">
      <div class="p-7">
        <p class="text-xl font-bold">
          Łóżko w pokoju nr {{ room.roomNumber }}.
        </p>
        <p>pokój {{ room.numberOfBeds }} osobowy</p>
        <p>
          wolne miejsca: {{ room.numberOfBeds - room.numberOfReservedBeds }}
        </p>
      </div>

      <div class="mx-auto pb-7">
        <p>Liczba osób:</p>
        <div class="flex pt-2">
          <button
            (click)="decrementHowManyRooms()"
            class="w-[30px] h-[30px] bg-primary text-white rounded-l-md"
          >
            -
          </button>
          <div
            class="flex items-center justify-center text-white w-[30px] h-[30px] bg-secondary"
          >
            <h2 class="text-black">{{ howManyRooms }}</h2>
          </div>

          <button
            (click)="incrementHowManyRooms()"
            class="w-[30px] h-[30px] text-white bg-primary rounded-r-md"
          >
            +
          </button>
        </div>
      </div>
    </div>
    <div class="flex border w-[210px] flex-col items-center justify-end">
      <div class="flex mb-4 items-end">
        <p class="text-xl font-bold mr-1">{{ room.pricePerBed }}zł</p>
        <p class="text-md mr-1">/</p>
        <p class="text-md mr-1">noc</p>
      </div>
      <button
        class="button mb-4 text-white"
        (click)="onReservation(howManyRooms, room.id)"
      >
        Rezerwuję
      </button>
    </div>
  </div>
</div>
